<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <style>
      * {
        font-family: sans-serif;
      }

      h1 {
        color: red;
      }

      body {
        padding: 16px;
      }
    </style>
  </head>
  <body style="border: 1px solid black;">
    <h1>PDF生成テスト</h1>

    <table style="border: 1px solid black">
      <tr>
        <th>商品名</th>
        <th>金額</th>
      </tr>
      <tr>
        <td>
          肉まん
        </td>
        <td>
          100
        </td>
      </tr>
      <tr>
        <td>
          あんまん
        </td>
        <td>
          120
        </td>
      </tr>
      <tr>
        <td>
          ピザまん
        </td>
        <td>
          120
        </td>
      </tr>
    </table>
  </body>
</html>
